@import url('https://fonts.googleapis.com/css2?family=Bangers&family=GFS+Didot&family=Gloria+Hallelujah&display=swap');
$font-title: 'Bangers', cursive;
$font-heading: 'GFS Didot', serif;
$font-paragraph: 'Gloria Hallelujah', cursive;
$recipes-color: #99d9ff;
